body {
	font-family: Helvetica;
}

#config {
	background-color: #ffffff;
	opacity: 0.85;
}

.error {
	color: red;
}

#app .round {
	display: inline-block;
	clear: both;
	margin-right: 20px;
}

#app .dryRun {
		display: block;
}

.delete {
	height: 0.7em;
	margin-left: 0.4em;
	cursor: pointer;
}

.star {
	height: 0.7em;
	margin-right: 0.4em;
	cursor: pointer;
}

#app .courts {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}

.tournamentSettings,
.presentationSettings {
	display: inline-block;
	float: left;
	margin: 1em;
	max-width: 50%;
	line-height: 1.5;
	font-size: 1.2em;
}

label {
	display: block;
}

.players label {
	display: inline-block;
}

.noRoundMessageSetting label {
	margin-left: 10px;
}

.players {
	margin-bottom: 10px;
}

.clearData {
	float: right;
}

#config button.clearData img {
	background-image: url('/img/delete.png');
	width: 15px;
	margin-right: 2px;
}

#config .players span {
	display: block;
}

#config .player {
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: inherit;
	margin-right: 2px;
	cursor: pointer;
}

#config .player.checked {
	opacity: 0.1;
}

#config .player input {
	display: none;
}

#config input[type=text] {
	width: 2em;
}

#config .noRoundMessageSetting input[type=text] {
	width: 20em;
}

#config label span {
	display: inline-block;
	width: 21em;
}

.exampleRoundError {
	float: left;
	color: red;
}