#playerView {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    /*background: url('img/erika/bg1-new-high.jpg') no-repeat;
    background-size: 100% 100%;*/
    background: linear-gradient(to bottom, #f4e1c1, #d2b48c);
    color: #4b2e1f;
}

#playerView #playerInput {
    font-size: 1.5rem;
    width: 60%;
    max-width: 15em;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

/* Style the tournament details */
#playerView .roundInfo {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 auto;
}

#playerView .courtName {
    display: none;
}

#playerView .courtInfo {
    text-align: center;
    font-size: 2rem;
    float: left;
    width: 100%;
}