h1 {
	text-align: center;
}

#presentation {
	display: flex;
	position: absolute;
    height: 100%;
    width: 100%;
	background: url('img/erika/bg-ny-high.jpg') no-repeat;
	background-size: 100% 100%;
	justify-content: center;
	align-items: center;
}

#presentation .round {
	clear: both;
	height: 66%;
	width: 93%;
	margin: 5% 0 0 1.9%;
}

#presentation .round > h1 {
	position: absolute;
    right: 4%;
    top: 12%;
}

#presentation .courts {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	width: 100%;

}

#presentation .noRoundMessage {
	margin: auto;
	text-align: center;
	font-size: 10vw;
}

#presentation .ranges {
	display: none;
}